

<div class="section">
  <label>Current User</label>
  <p>
    {{ user }}
  </p>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Email" [(ngModel)]="email">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Password" [(ngModel)]="password" type="password">
  </md-input-container>
  <button md-raised-button (click)="updateCreds()">Update Credentials</button>
  <button md-raised-button (click)="updateCreds()">Clear Credentials</button>
</div>


<div class="section">
  {{ rallyData.data | json }}
  <button md-raised-button (click)="importData()">Import Data</button>
  <div>
    <ngx-datatable
      [rows]="rallyData.data"
      [columns]="columns"
      [limit]="10"
      [footerHeight]="50" >
    </ngx-datatable>
  </div>
</div>
